<form method="GET">
         <table id="data" class="table table-striped">
           <thead>
            <tr>
               <th>ID</th>
               <th>NAME</th>
               <th>JOB</th>
            </tr>
            </thead>
            <tbody>
                    <tr>
                    <td>{{ customer['customer_Id'] }} </td>
                    <td>{{ customer['customer_Name']}}</td>
                    <td>{{ customer['customer_Job']}}</td>
                    </tr>
            </tbody>
           </table> 
     </form>

